<main class="login">
    <div class="login__container">
        <header class="login__header">
            <h1 class="login__title">Вход</h1>
        </header>

        <form class="login__form" id="login-form">
            {{> input
                    id="login"
                    name="login"
                    type="text"
                    label="Логин"
                    value=""
                    autocomplete="on"
            }}

            {{> input
                    id="password"
                    name="password"
                    type="password"
                    label="Пароль"
                    value=""
                    autocomplete="current-password"
            }}
        </form>

        <aside class="login__footer">
            {{> button
                    name="login-submit"
                    type="submit"
                    label="Авторизоваться"
                    form="login-form"
            }}
            <nav class="login__nav">
                {{> link
                        href="/register"
                        label="Нет аккаунта?"
                }}
            </nav>
        </aside>
    </div>
</main>