<form class="post-message" data-post-message="{{name}}">
    <input
            class="post-message__field"
            type="text"
            name="{{name}}"
            placeholder="Сообщение"
            autocomplete="off"
    />

    <button
            class="post-message__submit"
            type="submit"
            aria-label="Отправить сообщение"
    >
        <img
                class="post-message__icon"
                src="/icons/arrow-right-v2.svg"
                alt=""
        />
    </button>
</form>