@use "../components/input/input";
@use "../components/button/button";
@use "../components/link/link";
@use "../components/search/search";
@use "../components/chat-item/chat-item";
@use "../components/post-message/post-message";
@use "../components/profile-avatar/profile-avatar";
@use "../components/profile-back-button/profile-back-button";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
