$color-primary: #3369F3;
$color-primary-light: #E4EDFD;
$color-primary-red: #F00;
$color-text-main: #1E1E1E;
$color-text-secondary: #999;
$color-text-inverse: #FFF;
$color-bg-page: #FBFBFB;
$color-bg2-page: #F8F8F8;
$color-border: #EAEAEA;
$color-error: #FF2F2F;
