
.chats {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(100% - 310px);
    min-height: 100dvh;
    padding: 10px 20px;
  }

  &__placeholder {
    height: 100%;
    width: 100%;

    @include flex-center;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $color-text-secondary;
  }

  &__sidebar {
    flex: 1 1 310px;
    border-right: 1px solid;
    color: $color-border;
    padding: 21px 10px 0;
  }

  &__sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 14px;
  }
}

.chats-list {
  display: flex;
  flex-direction: column;
  background: $color-bg-page;
  height: 100dvh;
}

.sidebar-nav {
  display: flex;
  justify-content: end;

  &__profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $color-text-secondary;
  }

  &__arrow {
    @include flex-center;
  }
}
