@use "../../styles/mixins" as *;

.profile-avatar {
  @include flex-center;

  flex-direction: column;
  gap: 20px;

  &__avatar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #EFEFEF;
  }

  &__input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1E1E1E;
  }
}
