<div class="profile-avatar">
  <div class="profile-avatar__avatar">
    {{#if avatar}}
      <img src="{{avatar}}" alt="Аватар пользователя">
    {{else}}
      <img alt="">
    {{/if}}
    {{#unless disabled}}
      <input
        class="profile-avatar__input"
        type="file"
        name="avatar"
        accept="image/*"
        ref={{ref}}
      >
    {{/unless}}
  </div>

  {{#if showDisplayName}}
    <h2 class="profile-avatar__name">
      {{display_name}}
    </h2>
  {{/if}}
</div>
