<div class="profile-avatar">
    <div class="profile-avatar__avatar">
        <img alt="">
    </div>

    {{#if showDisplayName}}
        <h2 class="profile-avatar__name">
            {{displayName}}
        </h2>
    {{/if}}
</div>
