<form class="search" data-search="{{name}}">
    <label class="search__control">
        <input
                class="search__field"
                type="search"
                name="{{name}}"
                autocomplete="off"
        />

        <span class="search__placeholder" aria-hidden="true">
            <img src="/icons/search.svg" class="search__icon" alt="" />
            <span class="search__text">Поиск</span>
        </span>
    </label>
</form>
