<main class="not-found">
    <div class="not-found__container">
        <section class="not-found__content">
            <h1 class="not-found__title">404</h1>
            <h2 class="not-found__subTitle">Не туда попали</h2>
        </section>

        <nav class="not-found__nav">
            {{> link
                    href="/chats"
                    label="Назад к чатам"
            }}
        </nav>
    </div>
</main>
