<main class="edit-password">
    <div class="edit-password__sidebar">
        {{> profile-back-button
                href="/profile"

        }}
    </div>

    <section class="edit-password__content">

        <header class="edit-password__header">
            {{> profile-avatar
                    displayName=displayName
                    showDisplayName=false

            }}
        </header>

        <form class="edit-password__form" id="edit-password-form" autocomplete="off">
            {{> input
                    id="password-old"
                    name="password-old"
                    type="password"
                    label="Пароль"
                    value=""
                    autocomplete="off"
            }}

            {{> input
                    id="password"
                    name="password"
                    type="password"
                    label="Пароль"
                    value=""
                    autocomplete="off"
            }}

            {{> input
                    id="password-repeat"
                    name="password-repeat"
                    type="password"
                    label="Пароль (ещё раз)"
                    value=""
                    autocomplete="off"
            }}
        </form>

        <footer class="edit-password__footer">
            {{> button
                    name="edit-password-form-submit"
                    type="submit"
                    label="Сохранить"
                    form="edit-password-form"
            }}
        </footer>

    </section>
</main>