.message {
  display: flex;
  width: 100%;

  &_incoming {
    justify-content: flex-start;
  }

  &_mine {
    justify-content: flex-end;
  }

  &__bubble {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    max-width: 40%;
    min-width: 30px;
    padding: 11px;
    border-radius: 14px;
    box-sizing: border-box;
  }

  &_incoming &__bubble {
    background: $color-bg2-page;
    color: $color-text-main;
    border-top-left-radius: 6px;
  }

  &_mine &__bubble {
    background: $color-primary-light;
    color: $color-text-main;
    border-top-right-radius: 6px;
  }

  &__content {
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $color-text-main;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  &__time {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    line-height: 11px;
    color: $color-text-secondary;
  }
}
