<div class="message {{#if isMine}}message_mine{{else}}message_incoming{{/if}}">
  <div class="message__bubble">
    <div class="message__content">{{content}}</div>
    <time class="message__time">{{time}}</time>
  </div>
</div>
