<main class="error">
    <div class="error__container">
        <section class="error__content">
            <h1 class="error__title">500</h1>
            <h2 class="error__subTitle">Уже фиксим</h2>
        </section>

        <nav class="error__nav">
            {{{ Link
                    href="/chats"
                    label="Назад к чатам"
            }}}
        </nav>
    </div>
</main>
